/* ==========
    GLOBAL
========== */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #111;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==========
    LAYOUT
========== */

.container {
    width: 95%;
    max-width: 440px;
    padding: 20px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.board {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 20px 0;
    background-color: #999;
    border: 1px solid #999;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
}

.box {
    background-color: #fff;
    font-size: 5rem;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: #eee;
}

.btn {
    width: 90px;
    min-height: 40px;
    background-color: transparent;
    font-size: 1.2rem;
    border: 1px solid #999;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.github {
    color: #000;
    font-size: 0.8rem;
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* ==========
    MEDIA
========== */

@media (max-width: 350px) {
    .container { padding: 15px; }
    .display { font-size: 0.9rem; }
    .board { margin: 15px 0; }
    .box { font-size: 4rem; }
    .btn { width: 80px; min-height: 35px; font-size: 0.9rem; }
    .github { font-size: 0.7rem; }
}