/* ==========
    GLOBAL
========== */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #111;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==========
    LAYOUT
========== */

.container {
    width: 90%;
    max-width: 500px;
    min-height: 575px;
    padding: 25px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.board {
    width: 450px;
    height: 450px;
    background-color: #999;
    border: 1px solid #999;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
}

.box {
    background-color: #fff;
    font-size: 5rem;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: #eee;
}

.btn {
    width: 100px;
    height: 50px;
    background-color: transparent;
    font-size: 1.2rem;
    border: 1px solid #999;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.github {
    color: #000;
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
}